body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 40px); /* Adjusted width to account for button padding and margin */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.taskText {
    flex-grow: 1;
    word-wrap: break-word; /* Wrap long words */
    overflow-wrap: break-word; /* Wrap on the character in long words */
    max-width: 60% /* Limit the width of the task text container */
}



.deleteButton,
.editButton,
.saveButton {
    background: none;
    border: none;
    font-size: 1.2em;
    color: red;
    cursor: pointer;
}

.taskButtons {
    display: flex;
}
